name: omop-lite

# Common configurations
x-omop-lite-common: &omop-lite-common
  build:
    context: .
    dockerfile: Dockerfile
  environment:
    - SCHEMA_NAME=public
    - SYNTHETIC=true
  volumes:
    - ./data:/data

x-postgres-common: &postgres-common
  container_name: db
  environment:
    - POSTGRES_DB=omop
    - POSTGRES_PASSWORD=password
  ports:
    - "5432:5432"
  healthcheck:
    test: ["CMD-SHELL", "pg_isready"]
    interval: 1s
    timeout: 5s
    retries: 10

services:
  postgres:
    <<: *postgres-common
    image: postgres:16
    profiles: [postgres]

  pgvector:
    <<: *postgres-common
    image: pgvector/pgvector:pg17
    profiles: [text-search]

  # Default omop-lite service
  omop-lite:
    <<: *omop-lite-common
    depends_on:
      postgres:
        condition: service_healthy
    profiles: [postgres]

  # omop-lite service for text-search profile
  omop-lite-search:
    <<: *omop-lite-common
    depends_on:
      pgvector:
        condition: service_healthy
    profiles: [text-search]

  omop-lite-sqlserver:
    platform: "linux/amd64"
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - SCHEMA_NAME=cdm
      - SYNTHETIC=true
      - DB_NAME=master
      - DB_USER=sa
      - DB_PASSWORD=Password123!
      - DB_HOST=sqlserver
      - DB_PORT=1433
      - DIALECT=mssql
    volumes:
      - ./data:/data
    depends_on:
      - sqlserver
    profiles: [sqlserver]

  sqlserver:
    platform: "linux/amd64"
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=Password123!
      - MSSQL_PID=Developer
    ports:
      - "1433:1433"
    healthcheck:
      test: /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P "Password123!" -Q "SELECT 1" || exit 1
      interval: 10s
      timeout: 3s
      retries: 10
      start_period: 10s
    profiles: [sqlserver]

  text-search:
    build:
      context: ./text-search
      dockerfile: Dockerfile
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=password
      - DB_NAME=omop
      - SCHEMA_NAME=public
    volumes:
      - ./text-search:/text-search:ro
    depends_on:
      omop-lite-search:
        condition: service_completed_successfully
    profiles: [text-search]
